/*styling from top to bottom*/
body {
  background: url(file:///Users/edwardyu/Desktop/IMG_6254.JPG) center fixed no-repeat;
  background-size: cover;
}

/*p {
  font-size: 14px;
}*/

.navbar .nav li {
  width: 14.28%;
  display: inline;
  /*float: none;*/
}

.navbar .nav ul {
  display: inline-block;
  text-align: center;
  /*float: none;*/
}
.navbar {
  /*position: relative;*/
  margin-bottom: 0;
  /*text-align: center;*/
  /*left: 0;*/
}
.navbar-nav {
  float: none;
}

.affix {
  position: fixed;
  top:0px;
  width: 100%;
  z-index: 1;
}

.fullpage {
  height: 100vh;
}

.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.nav-container{
  position: absolute;
  bottom:0;
  width: 100%;
  left: 0;
}
.nav {
text-align: center;
}

.name-banner {
  margin: 0 25%;
  padding-top: 15px;
  padding-bottom: 15px;
  border: solid 2px white;
  /*width: 100% !important;*/
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.description{
  display: none;
}

.about-me-section{
  overflow: hidden;
}

.about-me {
  text-align: left;
  float: left;
  width: 50%;
}

.profile-picture img {
  max-height: 300px;
  float:right;
}

#skills, #education, #contact{
  background-color: beige; /*temporary*/
}

.computer-languages{
  display: inline;
}

.skill-logos{
  height: 150px;
}

.social-logos {
  height: 40px;

}

.cd-timeline-content {
  color: black;
}

.cd-timeline-content p {
  font-size: 1.25em;
}

.section-heading {
  margin-top: 10em;
  margin-bottom: 5em;
}

.cd-date{
  font-size: 1.5em !important;
}
/*COVER CSS*/
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

/* CSS for typed.js blinking cursor */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
